import(utils)
import(methods)

## Stuff from Matrix...
importFrom("Matrix", "sparseMatrix")
importClassesFrom("Matrix", "sparseMatrix")

##importClassesFrom(Biobase, "eSet") ## eSet
import(Biobase)

import(BiocGenerics)
import(ProtGenerics)
import(MSnbase)
importFrom("stats", "sd")

## S4Vectors:
importFrom("S4Vectors", "Rle", "as.matrix", "runLength")
importClassesFrom("S4Vectors", "Rle")

## XML_
import("XML")
## importFrom("XML", xmlParse)
## importClassesFrom("XML", "XMLInternalElementNode", "XMLNodeSet")
## importMethodsFrom("XML", "xmlRoot", "getNodeSet", "xmlValue")

## DB stuff
importFrom(DBI, dbDriver, dbConnect)
import(RSQLite)
importMethodsFrom(AnnotationDbi, dbconn, columns)
##, keytypes, keys, select, mapIds)
importClassesFrom("ensembldb", "BasicFilter")
importMethodsFrom("ensembldb", "column", "where", "listTables", "condition")
## Do this after Bioc3.3
## importMethodsFrom("ensembldb", "column", "where", "listTables", "value", "value<-",
##                  "condition", "condition<-")

import(BiocParallel)
## Just import all from xcms
import(xcms)
importClassesFrom(xcms)
importMethodsFrom(xcms)
## Base stuff
importFrom("graphics", "points")
##importClassesFrom(graph, graphNEL)
##importFrom(graph, graphNEL)
## importMethodsFrom(graph, leaves, isConnected, edges, nodes, isDirected,
##                   removeNode)
## importFrom(DBI, dbDriver)
## importClassesFrom(AnnotationHub, AnnotationHub)
## importMethodsFrom(AnnotationHub, query, mcols)

## Classes
exportClasses("MSdata", "MSslice", "MSsliceList", "SimpleCompoundDb",
              "CompoundidFilter", "MassrangeFilter")

## xcmsSet methods
exportMethods("peakGroupSummary")

## xcmsRaw methods:
exportMethods("scantimes", "getData", "msMap")

## MSdata methods:
exportMethods("intensity", "intensity<-", "rtime", "rtime<-", "mz", "mz<-",
              "rtrange", "mzrange", "intrange", "getChromatogram",
              "getSpectrum", "plotChromatogram", "plotSpectrum",
              "binMz", "binRtime", "binMzRtime", "mapMatrix", "subset")

## MSslice methods:
exportMethods("assayData", "assayData<-", "$", "phenoData", "phenoData<-", "pData", "pData<-")

## MSsliceList methods:
exportMethods("slices", "slices<-", "rtranges", "mzranges", "intranges",
              "[", "[[")

## SimpleCompoundDb methods:
exportMethods("dbconn", "columns", "listTables", "as.data.frame", "compounds")

## ComoundidFilter
exportMethods("column", "where", "value", "value<-", "condition", "condition<-")

## Generic methods
exportMethods("show", "msSlice", "msData", "as.matrix", "length", "grow", "mzmatch", "names",
              "supportedIonAdducts", "mass2adductmz", "adductmz2mass")

## Constructors
export("MSdata", "MSslice", "MSsliceList", "SimpleCompoundDb", "CompoundidFilter",
       "MassrangeFilter")

## Shiny app
export("visualizeXcmsSet")


## ## Export functions
## export("Props")
## Export classes
## exportClasses("Rule", "RuleSet", "RuleSets")
## ## Export constructors
## export("Rule", "readRule", "RuleSet", "readRuleSet", "RuleSets", "readRuleSets")
## ## Export methods for Rule
## exportMethods("columns", "columns<-", "type", "values", "values<-", "condition",
##               "condition<-", "match", "name", "name<-", "export", "description",
##               "description<-")
## ## Export methods for RuleSet
## exportMethods("logOp", "logOp<-", "rules", "rules<-")
## ## Export methods for RuleSets
## exportMethods("sets", "sets<-")

## ## Export CHRIS functions.
## export(chrisSanitizeTable)
## exportMethods(subsetBy)

## ## Other methods
## exportMethods(season)
